/* Custom styles to complement Tailwind CSS */
body {
    -webkit-tap-highlight-color: transparent; /* Disable tap highlight on mobile */
}

/* --- Game Elements --- */
.snake {
    background-color: #0891b2; /* cyan-600 */
    border: 1px solid #164e63; /* cyan-900 */
    border-radius: 20%;
    z-index: 1;
}

.snake.head {
    background-color: #67e8f9; /* cyan-300 - Make the head brighter */
    border: 1px solid #0e7490; /* cyan-700 */
}

.food {
    background-color: #f43f5e; /* rose-500 */
    border-radius: 50%;
    box-shadow: 0 0 10px #f43f5e;
}

/* --- Speed Slider --- */
#speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #67e8f9; /* cyan-300 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #0e7490; /* cyan-700 */
}

#speed-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #67e8f9; /* cyan-300 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #0e7490; /* cyan-700 */
}